/* Universal Styling */
body {
    background-color: #E88523;
    margin: 0;
    justify-content: center;
}

/* main fonts */
@font-face {
  font-family: KetchupBold; /* set name */
  src: url(/fonts/KetchupKrExtraBold.otf); /* url of the font */
}


/* main header fonts */
h1 {
    font-family: KetchupBold;
    text-transform: uppercase;
    color: #F7F7F7;
    font-size: 51px;
    text-align: center;
    display: block;
    margin-bottom: -20px;
    z-index: 1;
}
#sun {
    display: inline-block;
    -webkit-text-stroke: 5px  #101932;
    text-shadow: -4px 6px  #101932;
    transform: rotate(-8deg);
    padding-right: 1%;
    z-index: inherit;
}
.fix-stroke {
   paint-order: stroke fill;
}

/*squiggle*/
.squiggle{
    width: 250px;
    height: 100%;
    display: block;
    margin:auto;
}

/*stickers*/
.stickers{
    width: 100px;
    height: 100%;
    display: block;
    z-index: -1;
}
#perfume {
    transform: rotate(-20deg);
    float: left;
    margin-left: -40px;
}